.ng-enter,
.ng-move {
  -webkit-animation: 0.3s bounceInRight;
  animation: 0.3s bounceInRight;
}
.ng-leave {
  -webkit-animation: 0.3s fadeOut;
  animation: 0.3s fadeOut;
}

.ng-hide-add {
  -webkit-animation:0.5s fadeIn ease;
  animation:0.5s fadeIn ease;
}

.ng-hide-remove {
  -webkit-animation:0.5s fadeIn ease;
  animation:0.5s fadeIn ease;
}
